<div class="page-header header-filter" data-parallax="true" style="background-image: url(<%= asset_path 'neo-2.jpg' %>); transform: translate3d(0px, 0px, 0px); min-height: 60vh;"></div>
<div class="section" style="margin: -40vh 0 0;">
  <div class="container">
    <div class="row">
      <div class="col">
        <div class="container">
          <h2 class="text-white">Search Results</h2>
        </div>
        <div class="search-results-container card-columns">
          <% @search.results.each do |m| %>
            <div class="card card-product" data-count="1" data-aos="fade-up">
              <div class="card-header card-header-image" data-header-animation="false">
                <a href="<%= url_for(:controller => 'movie_details', :action => 'show') %>?id=<%= m.id %>">
                    <img class="img" src="<%= m.backdrop_path %>">
                </a>
                <div class="colored-shadow" style="background-image: url('https://image.tmdb.org/t/p/w500/<%= m.backdrop_path %>'); opacity: 1;"></div>
              </div>
              <div class="card-body">
                  <h5 class='card-title'><%= m.title %></h5>
                  <!-- <div class="card-description">
                    <p><small class="text-muted"><%= m.overview %></small></p>
                  </div> -->
              </div>
              <div class="card-footer">
                  <div class="stats text-muted">
                      <i class="material-icons">date_range</i><%= m.release_date.slice(0..3) %>
                  </div>
                  <div class="stats text-muted">
                      <i class="material-icons">star_border</i><%= m.vote_average %>
                  </div>
              </div>
            </div>
          <% end %>
        </div>
        <nav style="background-color: transparent !important; box-shadow: none !important;">
          <ul class="pagination justify-content-center">
            <% for i in 1..@search.total_pages do %>
              <% if @search.current_page == i %>
                <li class="page-item active">
              <% else %>
                <li class="page-item">
              <% end %>
                <%= link_to i, search_show_path(:movie => @search.user_input, :page => i), class: "page-link" %>
              </li>
            <% end %>
          </ul>
        </nav>
      </div>
    </div>
  </div>
</div>
