<div class="page-header header-filter" data-parallax="true" style="background-image: url(<%= asset_path 'neo.jpg' %>); transform: translate3d(0px, 0px, 0px); min-height: 60vh;"></div>
<div class="section" style="margin: -40vh 0 0;">
  <div class="container">
    <div class="row">
      <div class="col">
        <h2 class="text-white">Now Playing</h2>
        <div class="home-page-card-columns card-columns">
          <% @results.each do |m| %>
          <a href="<%= url_for(:controller => 'movie_details', :action => 'show') %>?id=<%= m.id %>">
            <div class="card" data-count="1" data-aos="fade-up">
              <img class="card-img-top" src="https://image.tmdb.org/t/p/w500/<%= m.backdrop_path %>">
              <div class="card-body">
                <h5 class='card-title'><%= m.title %></h5>
              </div>
              <div class="card-footer">
                <div class="stats" style="color: #ffd54f;">
                  <i class="material-icons">star</i><%= m.vote_average %>
                </div>
              </div>
            </div>
          </a>
          <% end %>
        </div>
      </div>
    </div>
  </div>
</div>
