<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width, viewport-fit=cover" name="viewport">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="apple-mobile-web-app-status-bar-style" content="black-translucent">
    <title>Maku</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('favicon.png') %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons' %>
    <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '//unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js' %>
  </head>

  <body>
    <nav class="navbar navbar-color-on-scroll bg-light fixed-top navbar-expand-lg navbar-transparent" color-on-scroll="50">
      <div class="container">
        <div class="navbar-translate">
          <div class="navbar-brand">
            <%= link_to root_path, 'data-turbolinks' => false do %>
              <span>Maku</span>
            <% end %>
          </div>
          <button class="navbar-toggler" type="button" data-toggle="collapse">
            <span class="navbar-toggler-icon bg-dark"></span>
            <span class="navbar-toggler-icon bg-dark"></span>
            <span class="navbar-toggler-icon bg-dark"></span>
          </button>
        </div>

        <div class="collapse navbar-collapse">
          <ul class="navbar-nav">
            <li class="nav-item">
              <%= link_to search_index_path, class: "nav-link", 'data-turbolinks' => false do %>
                <i class="material-icons">search</i>
                Search
              <% end %>
            </li>
          </ul>
        </div>
      </div>
    </nav>
    <%= yield %>
  </body>
</html>
