<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8">
    <meta content="initial-scale=1, shrink-to-fit=no, width=device-width" name="viewport">
    <title>Maku</title>
    <%= csrf_meta_tags %>
    <%= favicon_link_tag asset_path('favicon.ico') %>
    <%= stylesheet_link_tag '//fonts.googleapis.com/css?family=Roboto:300,400,500,700|Roboto+Slab:400,700|Material+Icons' %>
    <%= stylesheet_link_tag '//maxcdn.bootstrapcdn.com/font-awesome/latest/css/font-awesome.min.css' %>
    <%= stylesheet_link_tag    'movie_details', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag '//unpkg.com/bootstrap-material-design@4.1.1/dist/js/bootstrap-material-design.js' %>
  </head>

  <body>
    <%= yield %>
  </body>
</html>
